/* You can add global styles to this file, and also import other style files */

button:focus {
    box-shadow: none !important;
}

.p-treenode-content {
    box-shadow: none !important;
    position: relative;
}

.p-treenode-content>span {
    cursor: pointer;
}

span.pi {
    font-size: 1.2rem;
    color: #000 !important;
}

span.pi.primary:before {
    color: blue;
}

span.pi.secondary:before {
    color: green;
}

span.pi.danger:before {
    color: red;
}

span.pi.warning:before {
    color: darkorange;
}

span.p-treenode-label span {
    display: flex;
    align-items: center;
}

.p-treenode-content[aria-expanded="true"] .p-buttonset {
    display: none;
}